.navbar {
    position: fixed;
    top: 0;
    transition: top 0.3s;
    /* left: 0; */
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(34, 34, 34, 0.5);
    backdrop-filter: blur(7px);
    padding: 1rem 2rem;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    font-size: large;
}

/* remove underline for navbar links */
.navbar-links a,
.navbar-links a:link,
.navbar-links a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar-links a:hover,
.navbar-links a:focus {
    text-decoration: none;
    color: #38bdf8;
    outline: none;
}

.nav-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;
}

.nav-btn:hover,
.nav-btn:focus {
    color: #38bdf8;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

/* Hamburger icon styles */
.navbar-toggle {
    display: none;
    /* flex-direction: column; */
    justify-content: center;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

/* Mobile */
@media screen and (max-width: 600px) {

    .navbar {
        justify-content: space-between;
    }

    .navbar-toggle {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1100;
    }

    .navbar-links {
        position: absolute;
        top: 67px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgba(34, 34, 34, .9);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        padding: 2rem 0.5rem;
        border-radius: 0 0 16px 16px;
        display: none;
        transition: all 0.3s;
        z-index: 1001;
    }

    .navbar-links.open {
        display: flex;
    }
}

@media screen and (max-width: 430px) {}